<!-- style start -->

<!-- Include Bootstrap! -->
<link href="{{ site.url }}{{ site.baseurl }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="{{ site.url }}{{ site.baseurl }}/bootstrap/css/bootstrap-lightbox.min.css" rel="stylesheet" media="screen">

<style type="text/css">
	body {
		padding-top: 60px;
		padding-bottom: 40px;
	}

	.code {
		font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	}
</style>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
								<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
															 <link rel="shortcut icon" href="../assets/ico/favicon.png">

<!-- Enable responsive features. -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ site.url }}{{ site.baseurl }}/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
<!-- style end -->
